<div class="form-container">
  <form action="answer">
    <label for="name">Ask your Coach anything:</label>
    <div class="input-and-submit">
      <input type="text" name="question" value="<%= params[:question] %>" placeholder="Enter question here">
      <input type="submit" value="Ask!" class="btn">
    </div>
  </form>
</div>
